* {
    /* font-family: Varela Round, Open Sans, sans-serif; */
    font-family: IBM Plex Mono, Consolas, Courier New, Courier, monospace;
    font-size: large;
    /* box-sizing: border-box;
    outline: 0;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
    scrollbar-width: thin; */
    /* outline: solid red; */
}

:root {
    --greengray: #3A443B;
    --offwhite: #EEF0EB;
    --offblack: #111317;
    --offred: #FF3E3E;
    --offdarkred: #9A031E;
    --offgreen: #2FE880;
    --offdarkgreen: #31874D;
    --fulvous: #DC851F;
    --yelloworange: #FFA737;
}

body {
    background-color: var(--offblack);
    color: var(--offwhite);
}

#display {
    overflow: scroll;
    height: 350px;
}

#mainArea {
    /* width: 1200px; */
    margin: auto;
    padding: 50px;
}

#leftPane {
    display: inline-block;
    width: 64%;
    vertical-align: top;
}

#entityTree {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

#command {
    background-color: var(--greengray);
    color: var(--offwhite);
    font-size: x-large;
}

.treeObject {
    color: var(--offwhite);
    background-color: var(--offblack);
}

.treeObject:hover {
    color: var(--offblack);
    background-color: var(--offwhite);
    cursor: pointer;
}

.choice {
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 20px;
    /* line-height: 1; */
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    color: var(--offwhite);
    background-color: var(--greengray);
}

.choice:hover {
    background-color: var(--offwhite);
    color: var(--offblack);
}

.confirm {
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 20px;
    /* line-height: 1; */
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    color: var(--offwhite);
    background-color: var(--offdarkgreen);
}

.confirm:hover {
    background-color: var(--offgreen);
    color: var(--offblack);
}

.cancel {
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 20px;
    /* line-height: 1; */
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    color: var(--offwhite);
    background-color: var(--offdarkred);
}

.cancel:hover {
    background-color: var(--offred);
    color: var(--offblack);
}