* {
    /* font-family: Varela Round, Open Sans, sans-serif; */
    font-family: IBM Plex Mono, Consolas, Courier New, Courier, monospace;
    font-size: large;
    /* box-sizing: border-box;
    outline: 0;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
    scrollbar-width: thin; */
    /* outline: solid red; */
}

#mainArea {
    /* width: 1200px; */
    margin: auto;
    padding: 50px;
}

#leftPane {
    display: inline-block;
    width: 64%;
    vertical-align: top;
}

#entityTree {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

.treeObject {
    color: white;
    background-color: darkslategray;
}

.treeObject:hover {
    color: darkslategray;
    background-color: white;
    cursor: pointer;
}

.choice {
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 20px;
    /* line-height: 1; */
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    background-color: darkslategray;
}

.choice:hover {
    background-color: dodgerblue;
}

.confirm {
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 20px;
    /* line-height: 1; */
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(33, 107, 23);
}

.confirm:hover {
    background-color: rgb(18, 160, 42);
}

.cancel {
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 20px;
    /* line-height: 1; */
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(85, 37, 23);
}

.cancel:hover {
    background-color: rgb(179, 55, 55);
}